<footer class="footer">
<div class="container footer-grid">
<div>
<p class="ft-title">IKSASS</p>
<p>Ikatan Santri Alumni Salafiyah Syafi’iyah (IKSASS) adalah wadah silaturrahim dan pengabdian alumni.</p>
</div>
<div>
<p class="ft-title">Tautan Cepat</p>
<p>
<a href="{{root}}tentang/website-ini/">Tentang Website Ini</a><br/>
<a href="{{root}}berita/">Berita</a><br/>
<a href="{{root}}dokumen/">Info Organisasi</a>
</p>
</div>
<div>
<p class="ft-title">Organisasi</p>
<p>
<a href="{{root}}kelembagaan/">Kelembagaan</a><br/>
<a href="{{root}}tentang/pendiri-dan-pengasuh/">Pendiri &amp; Pengasuh</a><br/>
<a href="{{root}}wasiat/">Wasiat</a>
</p>
</div>
<div>
<p class="ft-title">Kontak</p>
<p>Alamat: Sukorejo, Banyuputih, Situbondo</p>
<p>Telp: <a href="tel:085258252747">085258252747</a></p>
<p>Email: <a class="ft-email" href="mailto:dibawahnaunganiksass@gmail.com">dibawahnaunganiksass@gmail.com</a></p>
</div>
<div>
<p class="ft-title">Ikuti Kami</p>
<p>
<a href="https://www.facebook.com/dibawahnaunganiksass" rel="noopener" target="_blank">Facebook</a><br/>
<a href="https://www.instagram.com/dibawahnaunganiksass" rel="noopener" target="_blank">Instagram</a><br/>
<a href="https://www.youtube.com/dibawahnaunganiksass" rel="noopener" target="_blank">Youtube</a>
</p>
</div>
</div>
<div class="container copy">© 2026 IKSASS. All Rights Reserved.</div>
</footer>

