<footer class="footer">
<div class="container footer-grid">
<div>
<p class="ft-title">IKSASS</p>
<p>Ikatan Santri Alumni Salafiyah Syafi’iyah (IKSASS) adalah wadah silaturrahim dan pengabdian alumni.</p>
</div>
<div>
<p class="ft-title">Tautan Cepat</p>
<p>
<a href="../{{root}}tentang/website-ini/">Tentang Website Ini</a><br/>
<a href="../{{root}}berita/">Berita</a><br/>
<a href="../{{root}}dokumen/">Info Organisasi</a>
</p>
</div>
<div>
<p class="ft-title">Organisasi</p>
<p>
<a href="../{{root}}kelembagaan/">Kelembagaan</a><br/>
<a href="../{{root}}tentang/pendiri-dan-pengasuh/">Pendiri &amp; Pengasuh</a><br/>
<a href="../{{root}}wasiat/">Wasiat</a>
</p>
</div>
<div>
<p class="ft-title">Kontak</p>
<p>Alamat: Sukorejo, Banyuputih, Situbondo</p>
<p>Telp: 085258252747</p>
<p>Email: <a class="ft-email" href="mailto:dibawahnaunganiksass@gmail.com">dibawahnaunganiksass@gmail.com</a></p>
</div>
<div>
  <p class="ft-title">Ikuti Kami</p>
  <p>
    <a href="https://www.facebook.com/dibawahnaunganiksass" target="_blank" rel="noopener">Facebook</a><br/>
    <a href="https://www.instagram.com/dibawahnaunganiksass" target="_blank" rel="noopener">Instagram</a><br/>
    <a href="https://www.youtube.com/dibawahnaunganiksass" target="_blank" rel="noopener">Youtube</a>
  </p>
</div>
</div>
<div class="container copy">© 2026 IKSASS. All Rights Reserved.</div>
</footer>

<!-- Ensure drawer/hamburger works on every page (some pages don't include main.js) -->
<script defer src="../{{root}}assets/js/main.js"></script>
